@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root{
  --primary-color : #047aed;
  --primary-text-color : #333;
  --white-text-color : #fff;

}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  /*color: #333;*/
  line-height: 1.6;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%
}
